[submodule "external/gnuplot-iostream"]
	path = external/gnuplot-iostream
	url = https://github.com/dstahlke/gnuplot-iostream.git
[submodule "external/SFML"]
	path = external/SFML
	url = git@github.com:SFML/SFML.git
